<div *ngIf="viewForPetsitter && !loader" class="modal">
  <div>
    <h3>Demande de {{ transaction?.ownerFirstName }}</h3>
    <div class="status">
      <app-status [statusFlag]="transaction?.statusFlag"></app-status>
    </div>
    <div class="w3-modal-content">
      <img class="my-icon" src="../../../../assets/images/patoune.png" alt="une patoune" />
      <p>
        <b>Motif : </b>
        {{ transaction?.typeService }} .
      </p>
      <p>
        <b>Du </b>
        {{ transaction?.dateStart }}
        <b>au </b>
        {{ transaction?.dateEnd }} .
      </p>
      <p>
        <b>Description : </b>
        {{ transaction?.content }}
      </p>
      <p *ngIf="transaction?.statusFlag === 'validated' || emailOwner">
        <b>Email : </b>
        {{ transaction?.ownerEmail }}
      </p>
    </div>
  </div>
  <div *ngIf="transaction?.statusFlag === 'pending'" class="buttonGroupe">
    <input
      *ngIf="transaction"
      class="button accept"
      (click)="valide(true, transaction)"
      type="button"
      value="Accepter"
    />
    <input
      *ngIf="transaction"
      class="button refuse"
      (click)="valide(false, transaction)"
      type="button"
      value="Refuser"
    />
  </div>
  <div *ngIf="transaction?.statusFlag === 'completed'" class="buttonGroupe">
    <input class="button comment" type="button" value="Commentaire" />
  </div>
</div>
<div *ngIf="!viewForPetsitter && !loader" class="modal">
  <div>
    <h3>Demande à {{ transaction?.petSitterFirstName }}</h3>
    <div class="status">
      <app-status [statusFlag]="transaction?.statusFlag"></app-status>
    </div>
    <div class="w3-modal-content">
      <img class="my-icon" src="../../../../assets/images/patoune.png" alt="une patoune" />
      <p>
        <b>Motif : </b>
        {{ transaction?.typeService }} .
      </p>
      <p>
        <b>Du </b>
        {{ transaction?.dateStart }}
        <b>au </b>
        {{ transaction?.dateEnd }} .
      </p>
      <p>
        <b>Description : </b>
        {{ transaction?.content }}
      </p>
    </div>
  </div>
  <div *ngIf="transaction?.statusFlag === 'pending'" class="buttonGroupe">
    <input *ngIf="transaction" class="button accept" (click)="delete(transaction)" type="button" value="Supprimer" />
  </div>
  <div
    *ngIf="transaction?.statusFlag === 'completed' && !commentModal && !transaction?.commentedTransaction"
    class="buttonGroupe"
  >
    <input (click)="openCommentModale()" class="button comment" type="button" value="Commenter" />
  </div>
  <div *ngIf="commentModal">
    <app-comment-form *ngIf="transaction" [transaction]="transaction"></app-comment-form>
  </div>
</div>
<div *ngIf="loader" class="modal loader">
  <app-loader></app-loader>
</div>
