article {
  margin-top: 160px;
  padding: 1rem 0 6rem 0;
  text-align: center;
  background-image: url("../../../assets/images/footprints.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
