.w3-modal-content, .my-icon {
  position: relative;
  border: 1px solid #cfd7de;
  border-radius: 10px;
  padding: 40px 10px 10px;
  width: 100%;
}

form {
  max-width: 500px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 1rem 1rem 0;

  h1 {
    margin-top: 0;
    text-align: center;
    font-size: 1.2em;
  }

  p {
    text-align: justify;
    color: #355f5b;
    margin-bottom: 0;
  }

  .my-icon {
    padding-top: 6px;
    right: 0;
    height: 35px;
    width: 100%;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
  }

  .field {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 1rem;

    textarea {
      height: 6rem;
    }

    input, textarea {
      width: 100%;
      border: 0;
      border-bottom: 2px solid #355f5b;
      outline: 0;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
        color: #355f5b;
      }
    }

    label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #355f5b;
    }

    input:focus, textarea:focus {
      ~ label {
        //position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #b17a3a;
      }

      padding-bottom: 6px;
      border-width: 3px;
      border-bottom: 2px solid #b17a3a;
      border-image-slice: 1;
    }
  }

  .button {
    background-color: #355F5B;
    color: #f2f2f2;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    margin-top: 1rem;
    padding: 0.7rem 1.8em;
  }

  a {
    margin-top: 1rem;
    text-decoration: none;
    color: #355f5b;
  }

  .errors {
    color: red;
    font-size: .8em;
  }
}
