<footer>
  <div class="main_container">
    <div class="logo_container">
      <img src="assets/images/logo.png" />
    </div>
    <div class="infos_container">
      <div class="left_container">
        <p>
          <a [routerLink]="">Contact</a>
        </p>
        <p>
          <a [routerLink]="">Mentions légales</a>
        </p>
        <p>Version 1.0.0</p>
      </div>
      <div class="right_container">
        <p>Bruno</p>
        <p>Mathilde</p>
        <p>Kevin</p>
      </div>
    </div>
  </div>
</footer>
