<nav>
  <ul>
    <li>
      <a routerLink="/">
        <img src="assets/images/icons/home.png" alt="icon home" title="Accueil" />
      </a>
    </li>
    <li>
      <a routerLink="/profile">
        <img
          *ngIf="userStore | async"
          src="assets/images/{{ (userStore | async)?.picture }}"
          alt="icon profile"
          title="Profile"
        />
      </a>
    </li>
    <li>
      <a routerLink="/login">
        <img
          *ngIf="(userStore | async)?.isLog"
          src="assets/images/icons/logout.png"
          alt="icon logout"
          title="Déconnexion"
        />
        <img
          *ngIf="!(userStore | async)?.isLog"
          src="assets/images/icons/login.png"
          alt="icon login"
          title="Connexion"
        />
      </a>
    </li>
  </ul>
</nav>
