:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 2rem;

}

.species_container, .species_service_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1rem 0;
}

hr {
  width: 50%;
  border: 3px #b17a3a solid;
  border-radius: 4px;
  margin: 2rem auto;
}

.control {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  margin: 0.7rem 1rem;
  width: 30%;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  border: 1px solid #355f5b;
  border-radius: 4px;
}

.control input:checked ~ .control_indicator {
  background: #b17a3a;
  border: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.6rem;
  margin-top: -1.6rem;
  background: #355F5B;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes s-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.control-checkbox input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}
//TODO: css pour input date si on le remet
/*.location, .date {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;

  input {
    width: 70%;
    border: none;
    border-radius: 10px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0 1rem;
  }

  label {
    padding-bottom: 0.5rem;
  }
}*/

.button_container {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 1rem;

  input {
    width: 60%;
    border: 0;
    border-bottom: 2px solid #355f5b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
      color: #355f5b;
    }
  }

  label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #355f5b;
  }

  input:focus {
    ~ label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #b17a3a;
    }

    padding-bottom: 6px;
    border-width: 3px;
    border-bottom: 2px solid #b17a3a;
    border-image-slice: 1;
  }
}

.button {
  background-color: #355F5B;
  color: #f2f2f2;
  border-radius: 25px;
  border: none;
  padding: 0.7rem 1.8em;
  font-size: 1.3rem;
  cursor: pointer;
}
