<form [formGroup]="login" (ngSubmit)="sendLogin()">
  <div class="field">
    <input type="email" formControlName="email" placeholder="Email" name="email" id="email" required />
    <label for="email">Email</label>
  </div>
  <div class="field">
    <input
      type="password"
      formControlName="password"
      placeholder="Mot de passe"
      name="password"
      id="password"
      required
    />
    <label for="password">Mot de passe</label>
  </div>
  <div *ngIf="errors.length > 0" class="errors">
    <p *ngFor="let error of errors">{{ error }}</p>
  </div>
  <input class="button" type="submit" value="Valider" />
  <a routerLink="/signup">Pas encore de compte ? Inscrivez-vous.</a>
</form>

<p *ngIf="token">{{ token }}</p>
