:host{
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 450px;
  padding: 1rem 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 20px;


  .field {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin-bottom: 1rem;

    input {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid #355f5b;
      outline: 0;
      font-size: 1.3rem;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
        color: #355f5b;
      }
    }

    label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #355f5b;
    }

    input:focus {
      ~ label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #b17a3a;
      }

      padding-bottom: 6px;
      border-width: 3px;
      border-bottom: 2px solid #b17a3a;
      border-image-slice: 1;
    }
  }
  .button {
    background-color: #355F5B;
    color: #f2f2f2;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    margin-top: 1rem;
    padding: 0.7rem 1.8em;
    font-size: 1.3rem;
  }

  a {
    margin-top: 1rem;
    text-decoration: none;
    color: #355f5b;
  }

  .errors{
    color: red;
    font-size: .8em;
  }
}
