h3 {
  padding: 0 1rem;
  margin: 1rem auto 1rem auto;
}

p {
  padding: 0 1rem;
}

.btnGroup {
  display: flex;
  justify-content: space-around;

  .button {
    text-align: center;
    color: #f2f2f2;
    border-radius: 25px;
    border: none;
    margin-top: .5rem;
    padding: 0.7rem 1.8em;
    font-size: 0.8rem;
    cursor: pointer;
    width: 100px;
    white-space: normal;
    background-color: #355f5b;
  }

  .request {
    padding: 0.7rem;
  }

  span {
    color: white;
    background-color: maroon;
    border-radius: 50px;
    font-size: .6em;
    padding: .3rem .5rem;
    position: absolute;
    margin-left: 5.3rem;
  }
}

