<form *ngIf="!loader" [formGroup]="addService" (ngSubmit)="onSubmit()">
  <div class="species_service_container">
    <h2>Créez un service</h2>
    <div class="species_service_container">
      <p>Sélectionnez les espèces en lien avec le service</p>
      <div class="container-label-species">
        <label *ngFor="let species of speciesListShow" class="control control-checkbox">
          {{ species.name | titlecase }}
          <input type="checkbox" (click)="checkSpecies(species)" />
          <div class="control_indicator"></div>
        </label>
      </div>
    </div>
    <div class="species_service_container">
      <p>Sélectionnez le service</p>
      <label class="control control-checkbox">
        Promenade quotidienne
        <input
          type="radio"
          id="walk"
          value="Promenade quotidienne"
          name="typeService"
          formControlName="typeService"
          checked
        />
        <div class="control_indicator"></div>
      </label>
      <label class="control control-checkbox">
        Visite à domicile
        <input type="radio" id="visit" value="Visite à domicile" name="typeService" formControlName="typeService" />
        <div class="control_indicator"></div>
      </label>
      <label class="control control-checkbox">
        Garde prolongée
        <input type="radio" id="homeKeeping" value="Garde prolongée" name="typeService" formControlName="typeService" />
        <div class="control_indicator"></div>
      </label>
    </div>
    <div class="field">
      <input formControlName="price" id="price" name="price" placeholder="price" required type="price" />
      <label for="price">Prix du service (€)</label>
    </div>
    <div class="field">
      <input formControlName="weightMin" id="weightMin" name="weightMin" placeholder="weightMin" required type="weightMin" />
      <label for="weightMin">Poids minimum</label>
    </div>
    <div class="field">
      <input formControlName="weightMax" id="weightMax" name="weightMax" placeholder="weightMax" required type="weightMax" />
      <label for="weightMax">Poids maximum</label>
    </div>
    <div>
      <label class="control control-checkbox">
        J'ai des compétences pour soigner vos animaux.
        <input formControlName="healer" id="healer" name="healer" type="checkbox" value="true" />
        <div class="control_indicator"></div>
      </label>
    </div>
    <div class="field">
      <textarea
        type="text"
        formControlName="description"
        placeholder="description"
        name="description"
        id="description"
        class="description"
        required
      ></textarea>
      <label for="description">Description</label>
    </div>
    <div class="button_container">
      <input class="button" type="submit" value="Valider" />
    </div>
  </div>
</form>
<app-loader *ngIf="loader"></app-loader>
