<section>
  <img class="picture" src="{{ petsitter.picture }}" />
  <div class="petsitter">
    <h3>{{ petsitter.firstName }} {{ petsitter.lastName | initial }}.</h3>
    <div class="note">
      <img *ngFor="let in of counter(petsitter.rating)" src="assets/images/patoune.png" alt="patte de chien" />
      <img
        *ngFor="let in of counter(5 - petsitter.rating)"
        src="assets/images/empty-patoune.png"
        alt="patte de chien vide"
      />
      <p>({{ petsitter.noteNumber }} avis)</p>
    </div>
    <p>
      <b><i>Description:</i></b>
    </p>
    <p class="description">
      {{ petsitter.description }}
    </p>
  </div>
  <div class="price">
    <p>À partir de</p>
    <p>
      <b>{{ petsitter.price }}€</b>
    </p>
  </div>
</section>
