<ng-container *ngIf="!commentList || !petSitterProfile || !serviceList">
  <app-loader></app-loader>
</ng-container>
<ng-container *ngIf="commentList && petSitterProfile && serviceList">
  <app-petsitter-infos [petSitterProfile]="petSitterProfile"></app-petsitter-infos>
  <article>
    <app-services-list
      *ngIf="serviceList.length > 0"
      [serviceList]="serviceList"
      [petSitterFirstName]="petSitterProfile.firstname"
    ></app-services-list>
  </article>
  <app-carousel *ngIf="commentList.length > 0" [commentList]="commentList"></app-carousel>
</ng-container>
