<article>
  <div>
    <h2>Réservez votre Pet Sitter proche de chez vous.</h2>
    <img src="assets/images/heart.png" alt="un coeur" />
  </div>
  <p>
    <b>Avec Furr Ever, trouvez un Pet Sitter qui correspond aux attentes de votre ami à 4 pattes (plus ou moins).</b>
  </p>
</article>
<app-search-form></app-search-form>
<section>
  <p class="service_title">Des services pour tous les animaux.</p>
  <p>
    Promenades, gardes, visites à domicile : Furr Ever regroupe les meilleurs Pet Sitters pour s'occuper et prendre soin de vos animaux.
  </p>
  <p>Remplissez simplement le formulaire et trouvez le Pet Sitter qui correspond le mieux à vos attentes.</p>
</section>
<app-carousel [commentList]="comments"></app-carousel>
