section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto 0 auto;
}

.first_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.name {
  margin: 0 0 0.5rem 0;
  font-size: large;
}

.average {
  font-size: small;
  margin: 0 0 0.2rem 0;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.note_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;

  .image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    margin-right: 0.3rem;
  }

  p {
    margin: 0;
  }
}

.user-note {
  width: 14px;
  margin-right: 4px;
}

.second_container {
  width: 90%;
  text-align: center;
  margin: 1rem auto 0 auto;

  p {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

.button_container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 1rem;
  margin-bottom: 1.5rem;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #355F5B;
    color: #f2f2f2;
    border-radius: 25px;
    border: none;
    font-size: 0.75em;
    cursor: pointer;
    padding: 5px;
    white-space: normal;
    width: 105px;
  }
}

.badge {
  color: white;
  background-color: maroon;
  border-radius: 50px;
  font-size: .6em;
  padding: .3rem .5rem;
  position: absolute;
  margin-left: 5.4rem;
  margin-bottom: 2rem;
}
