<section>
  <div class="first_container">
    <img alt="image de l'utilisateur" class="avatar" src="assets/images/{{ user.picture }}" />
    <div>
      <p class="name">{{ user.firstname }} {{ user.lastname }}</p>
      <p *ngIf="user.isPetSitter" class="average">Moyenne du Pet Sitter</p>
      <div *ngIf="user.isPetSitter" class="note_container">
        <div class="image-container">
          <img
            *ngFor="let in of counter(user.rating)"
            alt="patte de chien"
            class="user-note"
            src="assets/images/patoune.png"
          />
          <img
            *ngFor="let in of counter(5 - user.rating)"
            alt="patte de chien vide"
            class="user-note"
            src="assets/images/empty-patoune.png"
          />
        </div>
        <p>sur {{ user.ratingQuantity }} avis</p>
      </div>
    </div>
  </div>
  <div class="second_container">
    <h4 *ngIf="user.description">À propos de ce User</h4>
    <p *ngIf="user.description">
      {{ user.description }}
    </p>
    <div class="button_container">
      <input type="button" value="Modifier le profil" class="button" />
      <a class="button" routerLink="/transactions">
        Mes demandes
        <span class="badge" *ngIf="nbPendingTransactions > 0 && user.idPetsitter">
          <b>{{ nbPendingTransactions }}</b>
        </span>
      </a>
      <a class="button" routerLink="/">Mes commentaires</a>
      <a class="button" routerLink="/services">Mes services</a>
    </div>
  </div>
</section>
