<section>
  <div class="first_container">
    <img *ngIf="user.picture" alt="image de l'utilisateur" class="avatar" src="assets/images/{{ user.picture }}" />
    <div>
      <p class="name">{{ user.firstname }} {{ user.lastname }}</p>
      <p *ngIf="user.isPetSitter && user.rating < 1" class="average">Moyenne du Pet Sitter</p>
      <div *ngIf="user.isPetSitter && user.rating < 1" class="note_container">
        <div class="image-container">
          <img
            *ngFor="let in of counter(user.rating)"
            alt="patte de chien"
            class="user-note"
            src="assets/images/patoune.png"
          />
          <img
            *ngFor="let in of counter(5 - user.rating)"
            alt="patte de chien vide"
            class="user-note"
            src="assets/images/empty-patoune.png"
          />
        </div>
        <p>sur {{ user.ratingQuantity }} avis</p>
      </div>
    </div>
  </div>
  <div class="second_container">
    <h4 *ngIf="user.description">À propos de moi</h4>
    <p *ngIf="user.description">
      {{ user.description }}
    </p>
    <h4>Mon adresse</h4>
    <p>
      {{ user.location?.streetNumber }}
      <span *ngIf="user.location?.additionalAddress">, {{ user.location?.additionalAddress }}</span>
      , {{ user.location?.street }}, {{ user.location?.zipCode }}, {{ user.location?.city | titlecase }}
    </p>
    <div class="button_container">
      <input type="button" value="Modifier le profil" class="button" (click)="showModalForUpdateUser()" />
      <a class="button" routerLink="/transactions">
        Mes demandes
        <span class="badge" *ngIf="nbPendingTransactions > 0 && user.idPetsitter">
          <b>{{ nbPendingTransactions }}</b>
        </span>
      </a>
      <a class="button">Mes commentaires postés</a>
      <a *ngIf="user.isPetSitter" class="button" routerLink="/services">Mes services</a>
    </div>
  </div>
  <div class="modal" *ngIf="showModal">
    <div>
      <input type="button" class="button" (click)="showModalForUpdateUser()" value="X" />
      <app-modal-user-update [user]="user"></app-modal-user-update>
    </div>
  </div>
  <section class="petsitter-service" *ngIf="user.isPetSitter && serviceList.length > 0">
    <app-services
      *ngFor="let oneService of serviceList"
      [service]="oneService"
      [petSitterFirstName]="petSitterFirstName"
      [userInfoView]="userInfoView"
    ></app-services>
  </section>
</section>
