<section>
  <div class="first_container">
    <img alt="image de l'utilisateur" class="avatar" src="assets/images/icons/profile.jpg" />
    <div>
      <p class="name">John Doe.</p>
<!--      <p class="average">Moyenne du Pet Sitter</p>-->
<!--      <div class="note_container">-->
<!--        <div class="image-container">-->
<!--          <img-->
<!--            *ngFor="let in of counter(petSitterProfile.rating)"-->
<!--            alt="patte de chien"-->
<!--            class="user-note"-->
<!--            src="assets/images/patoune.png"-->
<!--          />-->
<!--          <img-->
<!--            *ngFor="let in of counter(5 - petSitterProfile.rating)"-->
<!--            alt="patte de chien vide"-->
<!--            class="user-note"-->
<!--            src="assets/images/empty-patoune.png"-->
<!--          />-->
<!--        </div>-->
<!--        <p>sur {{ petSitterProfile.ratingQuantity }} avis</p>-->
<!--      </div>-->
    </div>
  </div>
  <div class="second_container">
    <h4>À propos de ce User</h4>
    <p>
      Un superbe description de la mort qui tue.
    </p>
  </div>
</section>
