section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  h2{
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
  }

  p{
    font-size: .8rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.before_modal {
  cursor: pointer;
}

.price {
  text-align: center;

  p {
    margin: 0;
    color: gray;
    font-size: .8rem;

    b {
      color: black;
      font-size: 1rem;
      margin-left: 5px;
    }
  }
}

.modal{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  width: 100vw;
  height: 100vh;
  right: 0;
  z-index: 1000;

  section{
    background-color: white;
    width: 90%;
    align-content: center;
    margin: 20% auto auto;
    padding: 15px 15px 25px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    border-radius: 20px;
  }

  .button{
    text-align: end;
    margin: 0;
    position: absolute;
    top: 10px;
    font-weight: bolder;
    font-size: larger;
    color: #355f5b;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #ffffff;
    border: 0;
  }
}
