section {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 10px;

  h2{
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
  }

  p{
    font-size: .8rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.price {
  text-align: center;

  p {
    margin: 0;
    color: gray;
    font-size: .8rem;

    b {
      color: black;
      font-size: 1rem;
    }
  }
}
