<section class="before_modal" (click)="isShowModal()">
  <div class="main-services">
    <h2 class="services_title">{{ service.typeService }}</h2>
    <p class="description">
      <i>{{ service.description }}</i>
    </p>
  </div>
  <div class="price">
    <p class="description">
      <b>{{ service.price }}€</b>
    </p>
  </div>
</section>
<div class="modal" *ngIf="showModal">
  <section>
    <input type="button" class="button" (click)="isShowModal()" value="X" />
    <app-modal-service [service]="service" [petSitterFirstName]="petSitterFirstName"></app-modal-service>
  </section>
</div>
